body {
    font-family: Arial;
    color: white;
  }
  
  .split1 {
    height: 100%;
    width: 20%;
    position: relative;
    z-index: 0;
    top: 0;
    bottom: 0;
    padding-top: 1px;
    overflow-x:auto;
  }
  
  .split2 {
    height: 100%;
    width: 80%;
    position: relative;
    z-index: 0;
    top: 0;
    padding-top: 1px;
    overflow-x:auto;   
  }

  .left {
    left: 0;
    background-color: black;
    
  }
  
  .right {
    right: 0;
    background-color: rgb(203, 237, 240);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

p{
    font-size: small;
}

[data-tab-info] {
    display: none;
}
  
.active[data-tab-info] {
    display: block;
}
  
.tab-content {
    
    font-family: sans-serif;
    color: rgb(82, 75, 75);
}
  
.tabs {
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
    top:0;
}
  
.tabs span {
    background: rgb(63, 43, 243);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}
  
.tabs span:hover {
    background: rgb(154, 157, 207);
    cursor: pointer;
    color: black;
}

td {
  vertical-align: top;
  text-align: left;
}